.home {
  display: flex;
  margin: auto;
  max-width: 92rem;
  height: 100%;
  overflow: hidden;
  padding: 3rem;
  transition: all 0.2s;
}
@media screen and (max-width: 43rem) {
  .home {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 37rem) {
  .home {
    padding: 0rem;
  }
}
