@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  font-family: var(--main-font);
  color: var(--secondary-color);
}

:root {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  --main-font: "Noto Sans JP", sans-serif;
  --primary-color: #f8f8f8;
  --secondary-color: #2c2c2c;
  --error-color: #db133a;
  --bg-color: #ffffff;
  --box-shadow: 0 0 1.27rem 0 rgb(43 86 112 / 10%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(44 44 44 / 80%);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

body {
  font-family: var(--main-font);
  color: var(--secondary-color);
  margin: 0px;
  height: 100%;
  background-color: var(--bg-color);
}

#root {
  height: 100%;
}
